<h2>Edit
  <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :email %><br/>
  <%= f.email_field :email, autofocus: true %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for:
  <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
  <%= f.label :password %>
  <i>(leave blank if you don't want to change it)</i><br/>
  <%= f.password_field :password, autocomplete: "off" %>
  <% if @minimum_password_length %>
  <br/>
  <em><%= @minimum_password_length %>
    characters minimum</em>
  <% end %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :current_password %>
  <i>(we need your current password to confirm your changes)</i><br/>
  <%= f.password_field :current_password, autocomplete: "off" %>
</div>

<div class="actions">
  <button class="btn waves-effect waves-light" type="submit" name="action">Update
    <i class="material-icons right">send</i>
  </button>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy?
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
