.side-nav-goal{
  width: 220px;
  background-color: #f5f5f5;
  padding-left: 10px!important;
  overflow-x: hidden;
  margin-top: 65px;
  .company_title{
    font-size: 20px;
    font-weight: 700;
  }
  .company_icon{
    margin-top: 10px;
    margin-right: 20px;
    padding: 0!important;
    color: #ccc;
  }
  .remove_goal, .remove_user{
    color: #ccc;
  }

  .goal_title{
    font-size: 20px;
    .goal_icon{
      margin-top: 10px;
    }
  }
  .open_goal, .open_user{
    color: black;
    padding-left: 10px!important  ;
  }

  .list{
    background-color: #f5f5f5!important;
    padding-left: 10px;
  }
}
.company_content {
  padding-left: 220px;
}

@media only screen and (max-width : 992px) {
  .company_content {
    padding-left: 0px;
  }
}
