<div class="navbar-fixed">
  <nav class="top-nav">
    <div class="nav-wrapper col s12">
      <a href="/" class="brand-logo">
        <i class="material-icons">assistant_photo</i>Desafio Indeva</a>
      <a href="#" data-activates="side-bar" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
        <% if current_owner %>
        <li>
          <a href="/owners/edit">Profile</a>
        </li>
        <li>
          <a href="#" class='dropdown-button' data-activates='companies' data-beloworigin="true" alignment='left'>My companies<i class="material-icons right">arrow_drop_down</i>
          </a>
          <ul id="companies" class="dropdown-content">
            <% current_owner.my_companies.each do |company| %>
            <li>
              <a href="/companies/<%= company.id %>"><%= company.name %></a>
            </li>
            <li class="divider"></li>
            <% end %>
            <li>
              <a class="" href="/companies/new">+ Add company</a>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to('Logout', destroy_owner_session_path, :method => :delete) %></li>
      <% else %>
        <li>
          <a href="/owners/sign_in">Login</a>
        </li>
        <li>
          <a href="/owners/sign_up">Sign Up</a>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
