<ul class="side-nav" id="side-bar">
  <% if current_owner %>
  <li>
    <a href="/users/edit">Profile</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="#" class='dropdown-button' data-activates='companies_side' data-beloworigin="true" alignment='left'>My companies<i class="material-icons right">arrow_drop_down</i>
    </a>
    <ul id="companies_side" class="dropdown-content">
      <% current_owner.my_companies.each do |company| %>
      <li>
        <a href="/<%= company.name %>"><%= company.name %></a>
      </li>
      <li class="divider"></li>
      <% end %>
      <li>
        <a class="" href="#add_company_modal">+ Add company</a>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to('Logout', destroy_owner_session_path, :method => :delete) %></li>
<% else %>
  <li>
    <a href="/users/sign_in">Login</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="/users/sign_up">Sign Up</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <% end %>
</ul>
