
<ul class="side-nav fixed side-nav-goal" id="side-bar-goal">
  <li>
    <div>
      <span class="company_title">
        <a href="/companies/<%= @company.id %>"><%= @company.name.truncate(6) %></a>
      </span>
      <a class="company_icon right">
        <i class="material-icons">
          <%= link_to 'edit', edit_company_path(@company.id) %>
        </i>
      </a>

      <a class="company_icon right">
        <i class="material-icons">
          <%= link_to 'delete',company_path(@company.id),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </i>
      </a>
    </div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li class="">
    <!-- <span class="goal_title">goals</span> -->
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">list</i>Goals</div>
        <div class="collapsible-body list">
          <span>
            <ul class="goals">
              <% @company.goal.each do |goal| %>
              <li class="goal_<%= goal.id %>">
                <div>
                  <a href="/companies/<%= @company.id %>/goals/<%= goal.id %>" class="open_goal">
                    <span><%= goal.name.truncate(6) %></span>
                  </a>
                  <a class="right remove_goal" href="#" id="<%= goal.id %>">
                    <i class="material-icons" id="<%= goal.id %>">
                      <%= link_to 'delete', company_goal_path(:company_id => @company.id, :id => goal.id),
                             method: :delete, data: { confirm: 'Are you sure?' } %></i>
                  </a>
                </div>
              </li>
              <% end %>
              <li>
                <div class="center">
                  <span>
                    <td><%= link_to 'New Goal', new_company_goal_path(@company.id), class:"center btn" %></td>
                  </span>
                </div>
              </li>
            </ul>
          </span>
        </div>
      </li>
      <li>
        <div class="divider"></div>
      </li>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">list</i>
            <a href="/companies/<%= @company.id %>/salesmen">Salesmen</a>
          </div>
        </li>
      </ul>
  </ul>
</li>
<li>
  <div class="divider"></div>
</li>
</ul>

<div class="fixed-action-btn horizontal hide-on-med-and-up">
<a href="#" data-activates="side-bar-goal" class="button-collapse btn-floating btn-large waves-effect waves-light grey bottom">
  <i class="material-icons">menu</i>
</a>
</div>
