<%= render "shared/sidebar2" %>
<div class="container">
  <div class="row">
    <div class="col s10 offset-s2">
      <h4>Listing Salesmen</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Action</th>
          <th colspan="3"></th>
        </tr>


        <% @salesmen.each do |salesman| %>
        <tr>
          <td><%= salesman.name %></td>
          <td><%= link_to 'Destroy', company_salesman_path(company_id: @company.id, id: salesman.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
