<%= render "shared/sidebar2" %>
<div class="container">
  <div class="row">
    <div class="col s10 offset-s2">
      <div class="row">
        <h4>Edit day</h4>
        <%= form_for @day, url: {action: "update"} do |f| %>
          <%= f.label :value_of_day %>
          <%= f.number_field :value, :step => 0.01 %>
          <%= f.submit "Update value", class:"center btn" %>
        <% end %>
        <%= form_for(@dayup, url: company_salesmen_path, method: :post) do |a| %>
          <%= a.hidden_field :day_id, :value => @day.id %>
          <%= a.hidden_field :goal_id, :value => @day.goal_id %>
          <%= a.fields_for :day_salesman do |aa| %>
            <%= a.fields_for :salesman do |aaa| %>
              <%= aaa.label :name_of_salesman %>
              <%= aaa.text_field :name %>
            <% end %>
          <% end %>
          <%= a.submit "Create one salesman", class:"center btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
