<%= render "shared/sidebar2" %>
<div class="container">
  <div class="row">
    <div class="col s10 offset-s2">
      <ul class="collection">
        <li class="collection-header">
          <h5>See details:</h5>
        </li>
        <li class="collection-item">Day:
          <%= @day.date_day.strftime("%d/%m/%y") %></li>
        <li class="collection-item">Total value:
          <% if @day.value != nil %>
            <%= @day.value %>
          <% else %>
            <%= link_to "Update the value getting on day", edit_company_goal_day_path %>
          <%end%>
        </li>
        <li class="collection-item">Value by Salesman:
            <% @salesmen.each do |salesman| %>
              <%= salesman %> => $<%= @valuesalesmen %>,
            <%end%>
        </li>
      </ul>
    </div>
  </div>
</div>
