<%= render "shared/sidebar2" %>
<div class="container">
  <div class="row">
    <div class="col s10 offset-s2">
      <div class="row">
        <h4>Edit company</h4>
        <%= form_for @company, url: {action: "update"}, html: {class: "col s12" } do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Update", class:"center btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
