<div class="center row no_company">
  <% if current_owner.my_companies.present? %>
    <h5>Your companies</h5>
    <div class="row">
      <ul class="collection col m4 offset-m4 s10 offset-s1">
        <% current_owner.my_companies.each do |t| %>
          <li class="collection-item dismissable">
            <div>
              <%= t.name %>
              <a href="/companies/<%= t.id %>" class="secondary-content">
                <i class="material-icons">call_made</i>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <a class="btn" href="/companies/new">New company</a>
    </div>
  <% else %>
    <h5>You have not created any companies yet</h5>
    <h5>Create one now and empower your company!</h5>
    <a class="btn" href="/companies/new">New company</a>
  <% end %>
</div>
