<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h4>New company</h4>
        <%= form_for @company, url: {action: "create"}, html: {class: "col s12" } do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Create", class:"center btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
