<%= render "shared/sidebar2" %>
<div class="container">
  <div class="row">
    <div class="col s12 offset-s2">
      <h3>Welcome</h3>
      <h6>You can register a goal by clicking the menu on the side, once you create it you can manage how your goals and your employees walk!</h6>
    </div>
  </div>
</div>
