<%= render "shared/sidebar2" %>
<div class="container">
  <div class="row">
    <div class="col s10 offset-s2">
      <h4>Create new goal</h4>
      <%= form_for @goal, url: {action: "create"}, html: {class: "col s12" } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :Date_Start %>
      <%= f.date_field :date_start %>
      <%= f.label :Date_End %>
      <%= f.date_field :date_end %>
      <%= f.label :totalvalue %>
      <%= f.number_field :totalvalue, :step => 0.01 %>
      <%= f.submit "Create", class:"center btn" %>
      <% end %>
    </div>
  </div>
</div>
