<%= render "shared/sidebar2" %>
<div class="container">
  <div class="row">
    <div class="col s10 offset-s2">
      <div class="card">
        <div class="card-content"></div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab">
              <a class="active" href="#test4">Show goal
                <%= @goal.name %>
              </a>
            </li>
            <li class="tab">
              <a href="#test5">Edit days of goal</a>
            </li>
            <li class="tab">
              <a href="#test6">Show days of goal</a>
            </li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">
            <ul class="collection">
              <li class="collection-header">
                <h5>See details:</h5>
              </li>
              <li class="collection-item">Name:
                <%= @goal.name %></li>
              <li class="collection-item">Date Start:
                <%= @goal.date_start %></li>
              <li class="collection-item">Date End:
                <%= @goal.date_end %></li>
              <li class="collection-item">Value of goal:
                <%= @goal.totalvalue %></li>
            </ul>
            <div class="fixed-action-btn horizontal click-to-toggle">
              <a class="btn-floating btn-large red">
                <i class="material-icons">menu</i>
              </a>
              <ul>
                <li>
                  <a class="btn-floating blue darken-1" href="/companies/<%= @goalcompanyid %>/goals/new">
                    <i class="material-icons">add_circle</i>
                  </a>
                </li>
                <li>
                  <a class="btn-floating green">
                    <i class="material-icons">
                      <%= link_to 'delete', company_goal_path(:company_id => @goalcompanyid, :id => @goal.id),
                    method: :delete, data: { confirm: 'Are you sure?' } %></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div id="test5">
            <% @date.each do |datedays| %>
            <div class="collection">
              <span class="collection-item"><%= link_to datedays.first.strftime("%d/%m/%y"), edit_company_goal_day_path(:company_id => @goalcompanyid, :goal_id => @goal.id, :id => datedays.last) %></span>
            </div>
            <%end%>
          </div>
          <div id="test6">
            <% @date.each do |datedays| %>
            <div class="collection">
              <span class="collection-item"><%= link_to datedays.first.strftime("%d/%m/%y"), company_goal_day_path(:company_id => @goalcompanyid, :goal_id => @goal.id, :id => datedays.last) %></span>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
