<!DOCTYPE html>
<html>
  <head>
    <title>Desafioindeva</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/sidebar" %>
    </header>

    <main>
      <div class="container">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end %>
        <%= yield %>
      </div>
    </main>


  </body>
</html>
